/*----- Drop Down Header Title ------*/

.dd-header-title {
  border-radius: 4px;
  margin: 4px;
  text-indent: 10px;
  background-color: rgba(80, 84, 95, 0.15);
}

.dd-header-chevron {
  float: right;
  padding-right: 10px;
}
