.jumbotron {
  height: 450px;
  width: 100%;
  background-color: transparent;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 96%,
    15% 96%,
    17% 100%,
    19% 96%,
    48% 96%,
    50% 100%,
    52% 96%,
    81% 96%,
    83% 100%,
    85% 96%,
    0 96%
  );
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 96%,
    15% 96%,
    17% 100%,
    19% 96%,
    48% 96%,
    50% 100%,
    52% 96%,
    81% 96%,
    83% 100%,
    85% 96%,
    0 96%
  );
  -moz-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 96%,
    15% 96%,
    17% 100%,
    19% 96%,
    48% 96%,
    50% 100%,
    52% 96%,
    81% 96%,
    83% 100%,
    85% 96%,
    0 96%
  );
  padding: 0px;
  margin-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width: 100%;
}

/* remove */
.mission {
  text-align: center;
  color: #808080;
}

.mission-title {
  color: #9cc2e6;
  padding-bottom: 10px;
  text-decoration: underline #9cc2e6;
}
.text {
  color: white;
  text-align: center;
  padding: 16px;
}

.header {
  padding-top: 135px;
  font-size: 3em;
}

.login-btn {
  background: linear-gradient(to right, #9cc2e6 2%, #8a9bbf 100%);
  border: none;
  padding: 10px 20px 10px 20px;
  width: 100%;
  color: white;
  border-radius: 6px;
}

.login-btn:hover {
  background-color: White;
  color: rgba(156, 194, 230, 0.67);
}

.login-container {
  display: flex;
  justify-content: center;
}

/* the sgp info overlayer (i.e results,samples,countries) */
#c1,
#c3 {
  padding-top: 20px;
  float: left;
  color: white;
  width: 33%;
  border: rgba(156, 194, 230, 0.95) 0.5px solid;
  border-top: none;
  background-color: rgba(156, 194, 230, 0.67);
  text-align: center;
  height: 131px;
}

#c2 {
  padding-top: 20px;
  float: left;
  color: white;
  width: 34%;
  border: rgba(156, 194, 230, 0.95) 0.5px solid;
  border-top: none;
  background-color: rgba(156, 194, 230, 0.67);
  text-align: center;
  height: 131px;
}

#wrapper {
  width: 100%;
  margin-top: -18px;
}

#wrapper:after {
  content: "";
  display: table;
  clear: both;
}
